.ctn {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  
  .container__nf-left {
    padding-left: 2rem;
    text-align: center;
  }
  
  .container__nf-btn {
    margin-top: 2rem;
    position: absolute;
    bottom: 22%;
    left: 26%;
    transform: translate(-50%);
    z-index: 10;
    display: flex;
    gap: 1.5rem;
  }
  
  .h1__nf {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .btn {
    color: var(--color-accent5);
    transition: transform 0.3s ease;
    text-decoration: none;
    outline: 1.5px solid var(--color-accent4);
    border-radius: 20px;
    padding: 10px 20px;
  }
  
  .btn:hover {
    background-color: var(--color-accent4);
    outline: none;
    color: var(--color-accent3);
    transform: scale(1.1);
  }

  .btn2 {
    color: var(--color-accent3);
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--color-accent5);
    text-decoration: none;
    outline: 1.5px solid var(--color-accent5);
    border-radius: 20px;
    padding: 10px 20px;
    transition: transform 0.3s ease;  }

  .btn2:hover {
    background-color: transparent;
    outline: none;
    color: var(--color-accent5);
    transform: scale(1.1);
  }
  
  .container__nf-right {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }
  
  .image {
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    .container__nf-btn {
        bottom: 34%; 
        left: 27%;
      }
  }

  @media screen and (max-width: 820px) {
    .container__nf-btn {
        bottom: 32%; 
        left: 27%;
      }
  }
  
  @media screen and (max-width: 768px) {
    .ctn {
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
        height: auto;
        padding-top: 3rem;
      }
    
      .container__nf-left, .container__nf-right, .container__nf-btn {
        width: 100%;
        text-align: center;
        padding: 0;
        order: 1;
      }
    
      .container__nf-btn {
        position: static;
        bottom: auto;
        left: auto;
        transform: none;
        order: 3;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding-bottom: 2rem;
        justify-content: center;
      }
    
      .image {
        order: 2;
        width: 100%;
        height: auto;
        margin: 1rem 0;
      }
    
      .container__nf-left {
        order: 1;
      }

      .h1__nf {
        font-size: 2rem;
      }

      .btn, .btn2 {
        padding: 8px 16px;
        font-size: 0.8rem;
        margin: 0 5px;
      }
    }
  @media screen and (max-width: 480px) {
    .image {
      width: 100%;
    }
  }
  